* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 150px;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.divBody {
    margin-top: 25px;
    text-align: center;
}

.divHeader {
    position: fixed;
    z-index: 4500;
    text-align: right;
    justify-content: center;
    margin-top: -150px;
}

.divHeader div {
    width: 100vw;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: -50px;
    text-align: center;
    background-color: rgb(105, 211, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    object-fit: cover;
}

.footer {
    margin-top: 20px;
    width: 100vw;
    height: 29%;
    font-weight: normal;
    background-color: rgb(105, 211, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.footer .copyright {
    position: relative;
    top: 75%;
    width: 100vw;
    height: 30%;
    font-weight: normal;
    background-color: rgb(63, 63, 63);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.searchBox input {
    display: inline-block;
    position: relative;
    left: 19%;
    width: 20%;
    padding-left: 15px;
    font-size: .74em;
    height: 25px;
    bottom: 48px;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    cursor: auto;
    background-color: rgb(200, 255, 250);
    box-shadow: 0px 1px 10px .5px rgba(48, 168, 142, 0.863);
    outline: none;
}

.searchBox input:hover {
    border: 1px solid darkcyan;

}

.searchBox button {
    background-color: rgb(200, 255, 250);
    border-radius: 33px;
    border: 0.1px solid rgba(48, 168, 142);
    text-rendering: auto;
    display: inline-block;
    position: relative;
    left: 19%;
    height: 30px;
    bottom: 47.5px;
    box-shadow: 0px 1px 10px .5px rgba(48, 168, 142, 0.863);
}

.searchBox button:hover {
    background-color: rgba(48, 168, 142);
    color: white;
    transform: scale(1.08);
}

div .logo {
    height: 170px;
    margin: -35px;
}

div .carrito {
    position: relative;
    bottom: 40px;
}

.carritoImg {
    object-fit: contain;
    z-index: 5000;
    justify-content: center;
    position: relative;
    left: 38%;
    height: 30px;
    bottom: 42px;
}

nav {
    z-index: 6000;
    width: 100vw;
    position: fixed;
    margin-top: -41px;
    text-align: center;
}

nav ul {
    background-color: rgba(48, 168, 142);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: .6px 7px 11px .5px rgba(48, 168, 142, 0.863);
}

nav li {
    display: inline-block;
    margin-left: 70px;
    margin-right: 100px;
}

.menu a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: .80em;
    color: white;
}

.barraCarrito img {
    margin-top: 7px;
    margin-bottom: -8px;
    margin-left: 35%;
    height: 28px;
    position: relative;
    left: 35vw;
}

.banner {
    text-align: center;

}

.banner img {
    width: 75vw;
    margin-top: -45px;
    border-bottom: 1px solid rgba(59, 59, 59, 0.486);
}

.secPromos {
    border-bottom: .5px solid rgba(59, 59, 59, 0.486);
    height: 10vh;
    text-align: center;
}

.secPromos .divPromos {
    display: inline-block;
    text-align: left;
    font-size: .78em;
    font-weight: bold;
    color: rgb(59, 59, 59);
    margin-right: 3vw;
    margin-left: 3vw;
}

.divPromos .textPromo {
    display: inline-block;
    width: 200px;
    position: relative;
    top: 12px;

}

.textBanco {
    display: inline-block;
    position: relative;
    top: 5px;
}

.iconPromos {
    position: relative;
    top: 15px;
    margin-right: 5px;
}

.secPromos p {
    display: inline-block;
    position: relative;
    top: 23px;
    width: 2px;
    border-left: 1.8px solid rgb(148, 148, 148);
    height: 5vh;
}

.cardContainer {
    display: inline-block;
    width: 85vw;
    text-align: center;
    justify-content: center;
    text-align: center;
}

.card {
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    border-radius: 15px;
    margin-left: 4.4%;
    margin-right: 4.4%;
}

.cardImg {
    text-align: center;
    justify-content: center;
    max-height: 8.5vw;
    height: 8.4vw;
    border-radius: 100px;
    box-sizing: border-box
}

button {
    align-items: center;

    text-align: center;
    padding: 5px;
}

.footer{
    margin-top: 0vw;
}

/* CSS EXCLUSIVO DE PRODUCTOS */
.bannerProd {
    text-align: center;
}

.bannerProd img {
    width: 75vw;
    margin-top: -2px;
    margin-bottom: 5vw;
    border-bottom: 1px solid rgba(59, 59, 59, 0.486);
}

.cardContainerProd {
    text-align: center;
    position: relative;
    left: 25%;
    width: 60vw;
}

.cardProd{
    display: inline-block;
    max-height: 45vh;
    width: 16vw;
    font-size: .8em;
    margin-bottom: 1.5vw;
    border-radius: 3px;
    margin-left: .6vw;
    margin-right: .6vw;
    border: 1px solid;
}

.cardDescProd{
    font-size: 1.1em;
    font-weight: 590;
}

.cardImgProd .imgProd{ 
    display: inline-block;
    text-align: center;
    height: 170px;   
}

.cardPrice {
    right: 20vw;
    bottom: 10vh;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 10px;
}

.agregarCarrito {
    margin: 10px 0;
    background-color: rgba(10, 105, 61, 0.788);
    color: rgb(247, 247, 247);
    font-weight: 520;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 1.08em;
}

.agregarCarrito:hover {
    background-color: rgb(184, 64, 64);
    box-shadow: 1px 1px 10px lightgrey;
}

/* CSS DEL CARRITO */ 

.contenedorCarrito{
    display: inline-block;
    width: 53%;
    margin-left: 10%;
    text-align: center; 
    position: relative;
}

.cardCarrito{
    width: 50vw;
}

.contenedorCostoTotal{
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 10vw;
    width: 15vw;
    height: 60px;
}

.textoTotal{
    font-size: 1.5em;
    font-weight: bold;
}

.cardBoxCarrito{
    margin-left: 5vw;
    width: 45vw;
    text-align: left;
    margin-bottom: -7vh;

}

#carrito .cardCarrito img{
    margin-left: 4.25vw;
    height: 170px; 
}

#carrito .cardCarrito p{
    display: inline-block;
    position: relative;
    bottom: 13vh;
    max-width: 20vw;
    font-size: .9em;
}

#carrito .cardCarrito .cardPriceCarrito{
    margin-left: -10vw;
    position: relative;
    top: -9vh;
    font-weight: bold;
    font-size: 1.5em;
}

#carrito .cardCarrito .EliminarItemCarrito{
    display: inline-block;
    margin-left: 40vw;
    position: relative;
    top: -13.5vh;
    width: 37px;
    background-color: rgba(10, 105, 61, 0.788);
    color: rgb(247, 247, 247);
    font-weight: 520;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.08em;
}

.botonesCarrito{
    display: inline-block;
    width: 150px;
    font-size: .85em;
    margin-left: -5.2vw;
    position: relative;
    bottom: 0px;
}

.botonFinalizarCompra{
    background-color: rgba(10, 105, 61, 0.788);
    color: rgb(247, 247, 247);
    font-weight: 520;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 350px;
}

.botonVaciarCarrito{
    background-color: rgba(10, 105, 61, 0.788);
    color: rgb(247, 247, 247);
    font-weight: 520;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
    div {
        display: block;
        width: 100%;
    }

    .divBody {
        margin-top: -45px;
        margin-left: 55px;
    }

    .divHeader h1 {
        width: 110vw;
        position: fixed;
        margin-top: -150px;
        padding: 10px;
        background-color: rgb(105, 211, 202);
        margin-bottom: -8px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .divHeader h1 img {
        height: 140px;
        padding: -50px;
        margin: -35px;
        margin-bottom: -45px;
    }

    nav {
        position: fixed;
        margin-top: -76px;
    }

    nav ul {
        width: 45px;
        height: 110vh;
        text-align: left;
        background-color: rgba(48, 168, 142);
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        box-shadow: 0px 0px 0px 0px rgba(48, 168, 142, 0.863);
        margin-bottom: 0;
    }

    nav li {
        display: block;
        margin-bottom: 12px;
        position: relative;
        text-align: left;
        top: 20px;
        font-size: 12px;
        margin-left: -27px;
        margin-right: 0px;
    }

    .menu a {
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .barraCarrito {
        position: relative;
        left: 30%;
        text-align: left;
        bottom: 2px;
    }

    .barraCarrito img {
        position: relative;
        image-rendering: auto;
        top: 9.5px;
        height: 28px;
    }

    .card {
        display: inline-block;
        height: 280px;
        width: 275px;
        margin-left: 50px;
        margin-bottom: 35px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 15px;
    }

    .cardTitle {
        font-size: 17px;
    }

    .cardImg {
        object-fit: cover;
        width: 150px;
        height: 100px;
        border-radius: 80px;
    }

    .cardDesc {
        font-size: 13px;
    }

    .cardPrice {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .agregarCarrito {
        margin: 5px 0;
        background-color: rgba(106, 51, 138, 0.788);
        color: rgb(247, 247, 247);
        font-size: 13px;
        font-weight: 500;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}